// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import * as errors from "../../../../../../errors/index.js";
import * as KardApi from "../../../../../index.js";

export declare namespace SubscriptionsClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SubscriptionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SubscriptionsClient.Options>;

    constructor(options: SubscriptionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Call this endpoint to fetch the subscriptions of the provided issuer.<br/>
     * <b>Required scopes:</b> `notifications:read`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.notifications.GetSubscriptionsRequest} request
     * @param {SubscriptionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InternalServerError}
     *
     * @example
     *     await client.notifications.subscriptions.get("organization-123")
     */
    public get(
        organizationId: KardApi.OrganizationId,
        request: KardApi.notifications.GetSubscriptionsRequest = {},
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.notifications.SubscriptionsResponseObject> {
        return core.HttpResponsePromise.fromPromise(this.__get(organizationId, request, requestOptions));
    }

    private async __get(
        organizationId: KardApi.OrganizationId,
        request: KardApi.notifications.GetSubscriptionsRequest = {},
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.notifications.SubscriptionsResponseObject>> {
        const { "filter[eventName]": filterEventName } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (filterEventName != null) {
            _queryParams["filter[eventName]"] = filterEventName;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(organizationId)}/subscriptions`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as KardApi.notifications.SubscriptionsResponseObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling GET /v2/issuers/{organizationId}/subscriptions.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Call this endpoint to subscribe to notification events.<br/>
     * <b>Required scopes:</b> `notifications:write`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.notifications.SubscriptionRequestBody} request
     * @param {SubscriptionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.ConflictError}
     *
     * @example
     *     await client.notifications.subscriptions.create("organization-123", {
     *         data: [{
     *                 type: "subscription",
     *                 attributes: {
     *                     eventName: "earnedRewardApproved",
     *                     webhookUrl: "https://webhookUrl.com/post",
     *                     enabled: true
     *                 }
     *             }]
     *     })
     */
    public create(
        organizationId: KardApi.OrganizationId,
        request: KardApi.notifications.SubscriptionRequestBody,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.notifications.CreateSubscriptionsResponseObject> {
        return core.HttpResponsePromise.fromPromise(this.__create(organizationId, request, requestOptions));
    }

    private async __create(
        organizationId: KardApi.OrganizationId,
        request: KardApi.notifications.SubscriptionRequestBody,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.notifications.CreateSubscriptionsResponseObject>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(organizationId)}/subscriptions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as KardApi.notifications.CreateSubscriptionsResponseObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new KardApi.ConflictError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling POST /v2/issuers/{organizationId}/subscriptions.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Call this endpoint to update existing notification subscriptions.<br/>
     * <b>Required scopes:</b> `notifications:write`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.SubscriptionId} subscriptionId
     * @param {KardApi.notifications.UpdateSubscriptionRequestBody} request
     * @param {SubscriptionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.DoesNotExistError}
     *
     * @example
     *     await client.notifications.subscriptions.update("organization-123", "subscription-123", {
     *         data: {
     *             type: "subscription",
     *             attributes: {
     *                 eventName: "earnedRewardApproved",
     *                 webhookUrl: "https://webhookUrl.com/post",
     *                 enabled: true
     *             }
     *         }
     *     })
     */
    public update(
        organizationId: KardApi.OrganizationId,
        subscriptionId: KardApi.SubscriptionId,
        request: KardApi.notifications.UpdateSubscriptionRequestBody,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.notifications.UpdateSubscriptionsResponseObject> {
        return core.HttpResponsePromise.fromPromise(
            this.__update(organizationId, subscriptionId, request, requestOptions),
        );
    }

    private async __update(
        organizationId: KardApi.OrganizationId,
        subscriptionId: KardApi.SubscriptionId,
        request: KardApi.notifications.UpdateSubscriptionRequestBody,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.notifications.UpdateSubscriptionsResponseObject>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(organizationId)}/subscriptions/${core.url.encodePathParam(subscriptionId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as KardApi.notifications.UpdateSubscriptionsResponseObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new KardApi.DoesNotExistError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling PATCH /v2/issuers/{organizationId}/subscriptions/{subscriptionId}.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }
}
