// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import * as errors from "../../../../errors/index.js";
import * as KardApi from "../../../index.js";

export declare namespace QueueDispatcherClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class QueueDispatcherClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<QueueDispatcherClient.Options>;

    constructor(options: QueueDispatcherClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Call this endpoint to dispatch an event to the notifications service queue.<br/>
     * <b>Required scopes:</b> `notifications:write`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {string} issuerName
     * @param {KardApi.GenericNotificationRequest} request
     * @param {QueueDispatcherClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.InternalServerError}
     *
     * @example
     *     await client.queueDispatcher.dispatchEvent("organizationId", "issuerName", {
     *         "X-Kard-IssuerID": "X-Kard-IssuerID",
     *         body: {
     *             data: [{
     *                     id: "id",
     *                     type: "type",
     *                     attributes: {
     *                         "attributes": {
     *                             "key": "value"
     *                         }
     *                     },
     *                     relationships: {
     *                         "relationships": {
     *                             data: {
     *                                 type: "type",
     *                                 id: "id"
     *                             }
     *                         }
     *                     }
     *                 }, {
     *                     id: "id",
     *                     type: "type",
     *                     attributes: {
     *                         "attributes": {
     *                             "key": "value"
     *                         }
     *                     },
     *                     relationships: {
     *                         "relationships": {
     *                             data: {
     *                                 type: "type",
     *                                 id: "id"
     *                             }
     *                         }
     *                     }
     *                 }]
     *         }
     *     })
     */
    public dispatchEvent(
        organizationId: KardApi.OrganizationId,
        issuerName: string,
        request: KardApi.GenericNotificationRequest,
        requestOptions?: QueueDispatcherClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.GenericNotificationResponseObject> {
        return core.HttpResponsePromise.fromPromise(
            this.__dispatchEvent(organizationId, issuerName, request, requestOptions),
        );
    }

    private async __dispatchEvent(
        organizationId: KardApi.OrganizationId,
        issuerName: string,
        request: KardApi.GenericNotificationRequest,
        requestOptions?: QueueDispatcherClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.GenericNotificationResponseObject>> {
        const { "X-Kard-IssuerID": xKardIssuerId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Kard-IssuerID": xKardIssuerId }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/internal/issuers/${core.url.encodePathParam(organizationId)}/issuerName/${core.url.encodePathParam(issuerName)}/dispatcher`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as KardApi.GenericNotificationResponseObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling POST /internal/issuers/{organizationId}/issuerName/{issuerName}/dispatcher.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }
}
