// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as KardApi from "../../../index.js";

export declare namespace FilesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FilesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FilesClient.Options>;

    constructor(options: FilesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves metadata for files associated with a specific issuer/organization.
     * This endpoint supports pagination and sorting options to efficiently navigate
     * through potentially large sets of file metadata.
     * <b>Required scopes:</b> `files.read`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.GetFilesMetadataRequest} request
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.ForbiddenError}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.UnauthorizedError}
     *
     * @example
     *     await client.files.getMetadata("organization-123", {
     *         "page[size]": 5,
     *         "filter[dateFrom]": "2025-02-20T21:56:23Z",
     *         "filter[dateTo]": "2025-03-20T21:56:23Z",
     *         "filter[fileType]": "earnedRewardApprovedDailyReconciliationFile",
     *         sort: "-sentDate"
     *     })
     */
    public getMetadata(
        organizationId: KardApi.OrganizationId,
        request: KardApi.GetFilesMetadataRequest = {},
        requestOptions?: FilesClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.GetFilesMetadataResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMetadata(organizationId, request, requestOptions));
    }

    private async __getMetadata(
        organizationId: KardApi.OrganizationId,
        request: KardApi.GetFilesMetadataRequest = {},
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.GetFilesMetadataResponse>> {
        const {
            "filter[dateFrom]": filterDateFrom,
            "filter[dateTo]": filterDateTo,
            "filter[fileType]": filterFileType,
            "page[size]": pageSize,
            "page[after]": pageAfter,
            "page[before]": pageBefore,
            sort,
        } = request;
        const _queryParams: Record<string, unknown> = {
            "filter[dateFrom]": filterDateFrom,
            "filter[dateTo]": filterDateTo,
            "filter[fileType]": filterFileType != null ? filterFileType : undefined,
            "page[size]": pageSize,
            "page[after]": pageAfter,
            "page[before]": pageBefore,
            sort: Array.isArray(sort) ? sort.map((item) => item) : sort != null ? sort : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `v2/issuers/${core.url.encodePathParam(organizationId)}/files/metadata`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.GetFilesMetadataResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new KardApi.ForbiddenError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/issuers/{organizationId}/files/metadata",
        );
    }
}
