// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import * as errors from "../../../../errors/index.js";
import * as KardApi from "../../../index.js";

export declare namespace SegmentUsersClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SegmentUsersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SegmentUsersClient.Options>;

    constructor(options: SegmentUsersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Check if a user is in a segment
     *
     * @param {string} issuerId - The id of the issuer
     * @param {string} referringPartnerUserId
     * @param {KardApi.GetStatusRequestBody} request
     * @param {SegmentUsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.InvalidRequest}
     *
     * @example
     *     await client.segmentUsers.getStatus("issuerId", "referringPartnerUserId", {
     *         segmentIds: ["segmentIds", "segmentIds"]
     *     })
     */
    public getStatus(
        issuerId: string,
        referringPartnerUserId: string,
        request: KardApi.GetStatusRequestBody,
        requestOptions?: SegmentUsersClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.GetStatusResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__getStatus(issuerId, referringPartnerUserId, request, requestOptions),
        );
    }

    private async __getStatus(
        issuerId: string,
        referringPartnerUserId: string,
        request: KardApi.GetStatusRequestBody,
        requestOptions?: SegmentUsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.GetStatusResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(issuerId)}/segmentation-users/users/${core.url.encodePathParam(referringPartnerUserId)}/status`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.GetStatusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling POST /v2/issuers/{issuerId}/segmentation-users/users/{referringPartnerUserId}/status.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Check if users are in segments
     *
     * @param {string} issuerId - The id of the issuer
     * @param {KardApi.GetStatusesRequest} request
     * @param {SegmentUsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.InternalServerError}
     *
     * @example
     *     await client.segmentUsers.getStatuses("issuerId", {
     *         referringPartnerUserIds: ["referringPartnerUserIds", "referringPartnerUserIds"]
     *     })
     */
    public getStatuses(
        issuerId: string,
        request: KardApi.GetStatusesRequest,
        requestOptions?: SegmentUsersClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.GetStatusesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getStatuses(issuerId, request, requestOptions));
    }

    private async __getStatuses(
        issuerId: string,
        request: KardApi.GetStatusesRequest,
        requestOptions?: SegmentUsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.GetStatusesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(issuerId)}/segmentation-users/users/statuses`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.GetStatusesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling POST /v2/issuers/{issuerId}/segmentation-users/users/statuses.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }
}
