// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as KardApi from "../../../index.js";
import { ChildrenClient } from "../resources/children/client/Client.js";
import { PlacementsClient } from "../resources/placements/client/Client.js";

export declare namespace OrganizationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OrganizationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OrganizationsClient.Options>;
    protected _children: ChildrenClient | undefined;
    protected _placements: PlacementsClient | undefined;

    constructor(options: OrganizationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get children(): ChildrenClient {
        return (this._children ??= new ChildrenClient(this._options));
    }

    public get placements(): PlacementsClient {
        return (this._placements ??= new PlacementsClient(this._options));
    }

    /**
     * Retrieve organization details for the authenticated issuer
     *
     * @param {string} organizationId - Unique identifier of the organization (must match the authenticated issuer)
     * @param {OrganizationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.ForbiddenError}
     * @throws {@link KardApi.DoesNotExistError}
     * @throws {@link KardApi.InternalServerError}
     *
     * @example
     *     await client.organizations.get("organizationId")
     */
    public get(
        organizationId: string,
        requestOptions?: OrganizationsClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.ExternalOrganizationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(organizationId, requestOptions));
    }

    private async __get(
        organizationId: string,
        requestOptions?: OrganizationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.ExternalOrganizationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `v2/issuers/${core.url.encodePathParam(organizationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.ExternalOrganizationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new KardApi.ForbiddenError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new KardApi.DoesNotExistError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/issuers/{organizationId}");
    }
}
