/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as KardApi from "../../../index.js";
import urlJoin from "url-join";
import * as errors from "../../../../errors/index.js";

export declare namespace Transactions {
    export interface Options {
        environment?: core.Supplier<environments.KardApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token: core.Supplier<core.BearerToken>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

export class Transactions {
    constructor(protected readonly _options: Transactions.Options) {}

    /**
     * Call this endpoint to send all transactions made by all your enrolled users in your rewards program. The request body will depend on the transaction type.<br/>
     * Please use the correct type when calling the endpoint:
     * - `transaction`: These incoming transactions will be processed and matched by the Kard system. Learn more about the [Transaction CLO Matching](https://github.com/kard-financial/kard-postman#c-transaction-clo-matching) flow here.
     * - `matchedTransaction`: For pre-matched transactions that need validation on match by the Kard system.<br/>
     *
     * <b>Required scopes:</b> `transaction:write`<br/>
     * <b>Note:</b> `Maximum of 500 transactions can be created per request`.
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.TransactionsRequestBody} request
     * @param {Transactions.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.CreateIncomingTransactionsMultiStatus}
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.ConflictError}
     *
     * @example
     *     await client.transactions.createIncomingTransactions("{organizationId}", {
     *         data: [{
     *                 type: "transaction",
     *                 id: "309rjfoincor3icno3rind093cdow3jciwjdwcm",
     *                 attributes: {
     *                     userId: "6FHt5b6Fnp0qdomMEy5AN6PXcSJIeX69",
     *                     status: "APPROVED",
     *                     amount: 1000,
     *                     subtotal: 800,
     *                     currency: "USD",
     *                     direction: "DEBIT",
     *                     paymentType: "CARD",
     *                     description: "ADVANCEAUTO",
     *                     description2: "ADVANCEAUTO",
     *                     mcc: "1234",
     *                     cardBIN: "123456",
     *                     cardLastFour: "4321",
     *                     authorizationDate: "2021-07-02T17:47:06Z",
     *                     merchant: {
     *                         id: "12345678901234567",
     *                         name: "ADVANCEAUTO",
     *                         addrStreet: "125 Main St",
     *                         addrCity: "Philadelphia",
     *                         addrState: "PA",
     *                         addrZipcode: "19147",
     *                         addrCountry: "United States",
     *                         latitude: "37.9419429",
     *                         longitude: "-73.1446869",
     *                         storeId: "12345"
     *                     },
     *                     authorizationCode: "123456",
     *                     retrievalReferenceNumber: "100804333919",
     *                     acquirerReferenceNumber: "1234567890123456789012345678",
     *                     systemTraceAuditNumber: "333828",
     *                     transactionId: "2467de37-cbdc-416d-a359-75de87bfffb0",
     *                     cardProductId: "1234567890123456789012345678"
     *                 }
     *             }]
     *     })
     *
     * @example
     *     await client.transactions.createIncomingTransactions("{organizationId}", {
     *         data: [{
     *                 type: "matchedTransaction",
     *                 id: "soduinfwoer82498h248h298heo2eic",
     *                 attributes: {
     *                     userId: "6FHt5b6Fnp0qdomMEy5AN6PXcSJIeX69",
     *                     amount: 1000,
     *                     subtotal: 800,
     *                     description: "ADVANCEAUTO",
     *                     authorizationDate: "2021-07-02T17:47:06Z",
     *                     paymentType: "CARD",
     *                     matchedOfferId: "5eb2d4a39ce24e00081488c4",
     *                     matchedLocationId: "5eb2d4a39ce24e00081488d5",
     *                     cardBIN: "12345",
     *                     direction: "DEBIT",
     *                     merchant: {
     *                         id: "12345678901234567",
     *                         name: "ADVANCEAUTO",
     *                         addrStreet: "125 Main St",
     *                         addrCity: "Philadephia",
     *                         addrState: "PA",
     *                         addrZipcode: "19147",
     *                         addrCountry: "United States"
     *                     },
     *                     cardLastFour: "4321",
     *                     authorizationCode: "1234",
     *                     retrievalReferenceNumber: "100804333919",
     *                     systemTraceAuditNumber: "333828",
     *                     acquirerReferenceNumber: "1234567890123456789012345678",
     *                     transactionId: "2467de37-cbdc-416d-a359-75de87bfffb0",
     *                     cardProductId: "1234567890123456789012345678"
     *                 }
     *             }]
     *     })
     */
    public createIncomingTransactions(
        organizationId: KardApi.OrganizationId,
        request: KardApi.TransactionsRequestBody,
        requestOptions?: Transactions.RequestOptions,
    ): core.HttpResponsePromise<KardApi.TransactionsResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__createIncomingTransactions(organizationId, request, requestOptions),
        );
    }

    private async __createIncomingTransactions(
        organizationId: KardApi.OrganizationId,
        request: KardApi.TransactionsRequestBody,
        requestOptions?: Transactions.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.TransactionsResponse>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${encodeURIComponent(organizationId)}/transactions`,
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "kard-sdk",
                "X-Fern-SDK-Version": "0.0.55174",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.TransactionsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 207:
                    throw new KardApi.CreateIncomingTransactionsMultiStatus(
                        _response.error.body as KardApi.TransactionsMultiResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new KardApi.ConflictError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling POST /v2/issuers/{organizationId}/transactions.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getAuthorizationHeader(): Promise<string> {
        return `Bearer ${await core.Supplier.get(this._options.token)}`;
    }
}
