// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import * as errors from "../../../../errors/index.js";
import * as KardApi from "../../../index.js";

export declare namespace OffersClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OffersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OffersClient.Options>;

    constructor(options: OffersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get offers
     *
     * @param {KardApi.GetOffersRequest} request
     * @param {OffersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.DoesNotExistError}
     * @throws {@link KardApi.ConflictError}
     * @throws {@link KardApi.InternalServerError}
     *
     * @example
     *     await client.offers.getOffers()
     */
    public getOffers(
        request: KardApi.GetOffersRequest = {},
        requestOptions?: OffersClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.OffersListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getOffers(request, requestOptions));
    }

    private async __getOffers(
        request: KardApi.GetOffersRequest = {},
        requestOptions?: OffersClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.OffersListResponse>> {
        const {
            "page[after]": pageAfter,
            "page[before]": pageBefore,
            "page[size]": pageSize,
            include,
            "filter[name]": filterName,
            "filter[offerType]": filterOfferType,
            "filter[merchantId]": filterMerchantId,
            "filter[startDate]": filterStartDate,
            "filter[expirationDate]": filterExpirationDate,
            "filter[source]": filterSource,
            "filter[category]": filterCategory,
            "filter[status]": filterStatus,
            "filter[id]": filterId,
            "filter[isTargeted]": filterIsTargeted,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (pageAfter != null) {
            _queryParams["page[after]"] = pageAfter;
        }

        if (pageBefore != null) {
            _queryParams["page[before]"] = pageBefore;
        }

        if (pageSize != null) {
            _queryParams["page[size]"] = pageSize.toString();
        }

        if (include != null) {
            _queryParams.include = include;
        }

        if (filterName != null) {
            _queryParams["filter[name]"] = filterName;
        }

        if (filterOfferType != null) {
            _queryParams["filter[offerType]"] = filterOfferType;
        }

        if (filterMerchantId != null) {
            _queryParams["filter[merchantId]"] = filterMerchantId;
        }

        if (filterStartDate != null) {
            _queryParams["filter[startDate]"] = filterStartDate;
        }

        if (filterExpirationDate != null) {
            _queryParams["filter[expirationDate]"] = filterExpirationDate;
        }

        if (filterSource != null) {
            _queryParams["filter[source]"] = filterSource;
        }

        if (filterCategory != null) {
            _queryParams["filter[category]"] = filterCategory;
        }

        if (filterStatus != null) {
            _queryParams["filter[status]"] = filterStatus;
        }

        if (filterId != null) {
            _queryParams["filter[id]"] = filterId;
        }

        if (filterIsTargeted != null) {
            _queryParams["filter[isTargeted]"] = filterIsTargeted.toString();
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                "/v2/internal/offers/",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.OffersListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new KardApi.DoesNotExistError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new KardApi.ConflictError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError("Timeout exceeded when calling GET /v2/internal/offers/.");
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Retrieve a specific offer by ID
     *
     * @param {string} offerId - Unique identifier of the offer
     * @param {KardApi.GetOfferByIdRequest} request
     * @param {OffersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.DoesNotExistError}
     * @throws {@link KardApi.InternalServerError}
     *
     * @example
     *     await client.offers.getOfferById("offerId")
     */
    public getOfferById(
        offerId: string,
        request: KardApi.GetOfferByIdRequest = {},
        requestOptions?: OffersClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.OfferResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getOfferById(offerId, request, requestOptions));
    }

    private async __getOfferById(
        offerId: string,
        request: KardApi.GetOfferByIdRequest = {},
        requestOptions?: OffersClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.OfferResponse>> {
        const { include } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (include != null) {
            _queryParams.include = include;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/internal/offers/${core.url.encodePathParam(offerId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.OfferResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new KardApi.DoesNotExistError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling GET /v2/internal/offers/{offerId}.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Create a new offer
     *
     * @param {KardApi.CreateOfferRequestBody} request
     * @param {OffersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.ConflictError}
     * @throws {@link KardApi.InternalServerError}
     *
     * @example
     *     await client.offers.createOffer({
     *         data: {
     *             type: "offer",
     *             attributes: {
     *                 name: "name",
     *                 merchantId: "merchantId",
     *                 offerType: "INSTORE",
     *                 isLocationSpecific: true,
     *                 status: "INACTIVE",
     *                 merchantNetwork: "merchantNetwork",
     *                 optInRequired: true,
     *                 qualifiedIssuer: ["qualifiedIssuer", "qualifiedIssuer"],
     *                 commissionType: "FLAT",
     *                 commissionValue: 1.1,
     *                 issuerCommissionsMap: {
     *                     "issuerCommissionsMap": 1.1
     *                 },
     *                 startDate: "2024-01-15T09:30:00Z",
     *                 expirationDate: "2024-01-15T09:30:00Z",
     *                 redeemableOnce: true,
     *                 source: "NATIONAL",
     *                 attribution: {
     *                     isRequired: true,
     *                     events: ["IMPRESSION", "IMPRESSION"]
     *                 }
     *             }
     *         }
     *     })
     */
    public createOffer(
        request: KardApi.CreateOfferRequestBody,
        requestOptions?: OffersClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.OfferResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createOffer(request, requestOptions));
    }

    private async __createOffer(
        request: KardApi.CreateOfferRequestBody,
        requestOptions?: OffersClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.OfferResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                "/v2/internal/offers/",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.OfferResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new KardApi.ConflictError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError("Timeout exceeded when calling POST /v2/internal/offers/.");
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Update an existing offer (replaces all fields - omitted optional fields will be removed)
     *
     * @param {string} offerId - Unique identifier of the offer to update
     * @param {KardApi.UpdateOfferRequestBody} request
     * @param {OffersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.DoesNotExistError}
     * @throws {@link KardApi.ConflictError}
     * @throws {@link KardApi.InternalServerError}
     *
     * @example
     *     await client.offers.updateOffer("offerId", {
     *         data: {
     *             type: "offer",
     *             attributes: {
     *                 name: "name",
     *                 merchantId: "merchantId",
     *                 offerType: "INSTORE",
     *                 isLocationSpecific: true,
     *                 status: "INACTIVE",
     *                 merchantNetwork: "merchantNetwork",
     *                 optInRequired: true,
     *                 qualifiedIssuer: ["qualifiedIssuer", "qualifiedIssuer"],
     *                 commissionType: "FLAT",
     *                 commissionValue: 1.1,
     *                 issuerCommissionsMap: {
     *                     "issuerCommissionsMap": 1.1
     *                 },
     *                 startDate: "2024-01-15T09:30:00Z",
     *                 expirationDate: "2024-01-15T09:30:00Z",
     *                 redeemableOnce: true,
     *                 source: "NATIONAL",
     *                 attribution: {
     *                     isRequired: true,
     *                     events: ["IMPRESSION", "IMPRESSION"]
     *                 }
     *             }
     *         }
     *     })
     */
    public updateOffer(
        offerId: string,
        request: KardApi.UpdateOfferRequestBody,
        requestOptions?: OffersClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.OfferResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateOffer(offerId, request, requestOptions));
    }

    private async __updateOffer(
        offerId: string,
        request: KardApi.UpdateOfferRequestBody,
        requestOptions?: OffersClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.OfferResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/internal/offers/${core.url.encodePathParam(offerId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.OfferResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new KardApi.DoesNotExistError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new KardApi.ConflictError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling PUT /v2/internal/offers/{offerId}.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }
}
