// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as KardApi from "../../../../../index.js";

export declare namespace AttributionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AttributionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AttributionsClient.Options>;

    constructor(options: AttributionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Call this endpoint to send attribution events made by a single enrolled user for processing. A maximum of 100 events can be included in a single request.
     *
     * <b>Required scopes:</b> `attributions:write`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.UserId} userId
     * @param {KardApi.users.CreateAttributionRequestObject} request
     * @param {AttributionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     *
     * @example
     *     await client.users.attributions.create("organization-123", "user-123", {
     *         data: [{
     *                 type: "offerAttribution",
     *                 attributes: {
     *                     entityId: "60e4ba1da31c5a22a144c075",
     *                     eventCode: "VIEW",
     *                     medium: "SEARCH",
     *                     eventDate: "2025-01-01T00:00:00Z"
     *                 }
     *             }, {
     *                 type: "offerAttribution",
     *                 attributes: {
     *                     entityId: "60e4ba1da31c5a22a144c077",
     *                     eventCode: "IMPRESSION",
     *                     medium: "EMAIL",
     *                     eventDate: "2025-01-01T00:00:00Z"
     *                 }
     *             }, {
     *                 type: "notificationAttribution",
     *                 attributes: {
     *                     entityId: "60e4ba1da31c5a22a144c076",
     *                     eventCode: "IMPRESSION",
     *                     medium: "PUSH",
     *                     eventDate: "2025-01-01T00:00:00Z"
     *                 }
     *             }]
     *     })
     */
    public create(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        request: KardApi.users.CreateAttributionRequestObject,
        requestOptions?: AttributionsClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.users.CreateAttributionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(organizationId, userId, request, requestOptions));
    }

    private async __create(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        request: KardApi.users.CreateAttributionRequestObject,
        requestOptions?: AttributionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.users.CreateAttributionResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(organizationId)}/users/${core.url.encodePathParam(userId)}/attributions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as KardApi.users.CreateAttributionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/issuers/{organizationId}/users/{userId}/attributions",
        );
    }

    /**
     * Record when a user activates an offer. Creates an attribution event with eventCode=ACTIVATE and medium=CTA.
     * Optionally include the offer data by passing `include=offer`.
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.UserId} userId
     * @param {string} offerId - The unique identifier of the offer being activated
     * @param {KardApi.users.ActivateOfferRequest} request
     * @param {AttributionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     *
     * @example
     *     await client.users.attributions.activate("organization-123", "user-123", "offer-456")
     */
    public activate(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        offerId: string,
        request: KardApi.users.ActivateOfferRequest = {},
        requestOptions?: AttributionsClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.users.ActivateOfferResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__activate(organizationId, userId, offerId, request, requestOptions),
        );
    }

    private async __activate(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        offerId: string,
        request: KardApi.users.ActivateOfferRequest = {},
        requestOptions?: AttributionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.users.ActivateOfferResponse>> {
        const { supportedComponents, include } = request;
        const _queryParams: Record<string, unknown> = {
            supportedComponents: Array.isArray(supportedComponents)
                ? supportedComponents.map((item) => item)
                : supportedComponents != null
                  ? supportedComponents
                  : undefined,
            include: Array.isArray(include) ? include.map((item) => item) : include != null ? include : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(organizationId)}/users/${core.url.encodePathParam(userId)}/offers/${core.url.encodePathParam(offerId)}/activate`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.users.ActivateOfferResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/issuers/{organizationId}/users/{userId}/offers/{offerId}/activate",
        );
    }

    /**
     * Record when a user boosts an offer. Creates an attribution event with eventCode=BOOST and medium=CTA.
     * Optionally include the offer data by passing `include=offer`.
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.UserId} userId
     * @param {string} offerId - The unique identifier of the offer being boosted
     * @param {KardApi.users.BoostOfferRequest} request
     * @param {AttributionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     *
     * @example
     *     await client.users.attributions.boost("organization-123", "user-123", "offer-456")
     */
    public boost(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        offerId: string,
        request: KardApi.users.BoostOfferRequest = {},
        requestOptions?: AttributionsClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.users.BoostOfferResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__boost(organizationId, userId, offerId, request, requestOptions),
        );
    }

    private async __boost(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        offerId: string,
        request: KardApi.users.BoostOfferRequest = {},
        requestOptions?: AttributionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.users.BoostOfferResponse>> {
        const { supportedComponents, include } = request;
        const _queryParams: Record<string, unknown> = {
            supportedComponents: Array.isArray(supportedComponents)
                ? supportedComponents.map((item) => item)
                : supportedComponents != null
                  ? supportedComponents
                  : undefined,
            include: Array.isArray(include) ? include.map((item) => item) : include != null ? include : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(organizationId)}/users/${core.url.encodePathParam(userId)}/offers/${core.url.encodePathParam(offerId)}/boost`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.users.BoostOfferResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/issuers/{organizationId}/users/{userId}/offers/{offerId}/boost",
        );
    }
}
