// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import * as errors from "../../../../../../errors/index.js";
import * as KardApi from "../../../../../index.js";

export declare namespace UploadsClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UploadsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UploadsClient.Options>;

    constructor(options: UploadsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Call this endpoint to create an upload session and retrieve an upload ID. Using the upload ID in the [Add Upload
     * Part](/api/uploads/create-upload-part) endpoint, historical transactions can be sent in batches for further processing.
     * <b>Required scopes:</b> `transaction:write`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {string} userId - The ID of the user as defined on the issuers system
     * @param {KardApi.users.CreateUploadRequestObject} request
     * @param {UploadsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     *
     * @example
     *     await client.users.uploads.create("organization-123", "user-123", {
     *         data: {
     *             type: "historicalTransactionStart",
     *             attributes: {}
     *         }
     *     })
     */
    public create(
        organizationId: KardApi.OrganizationId,
        userId: string,
        request: KardApi.users.CreateUploadRequestObject,
        requestOptions?: UploadsClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.users.CreateUploadResponseObject> {
        return core.HttpResponsePromise.fromPromise(this.__create(organizationId, userId, request, requestOptions));
    }

    private async __create(
        organizationId: KardApi.OrganizationId,
        userId: string,
        request: KardApi.users.CreateUploadRequestObject,
        requestOptions?: UploadsClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.users.CreateUploadResponseObject>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(organizationId)}/users/${core.url.encodePathParam(userId)}/uploads`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as KardApi.users.CreateUploadResponseObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling POST /v2/issuers/{organizationId}/users/{userId}/uploads.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Call this endpoint using the upload ID provided in the [Create Upload](/api/uploads/create-upload) endpoint to add parts to your upload. Currently, this endpoint supports adding historical transactions.
     * <b>Required scopes:</b> `transaction:write`
     * <b>Note:</b> `Maximum of 500 transactions can be uploaded per request`.
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {string} userId - The ID of the user as defined on the issuers system
     * @param {string} uploadId - The upload ID identifying the upload session to add parts
     * @param {KardApi.users.CreateUploadPartRequestObject} request
     * @param {UploadsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.users.UploadPartMultiStatus}
     *
     * @example
     *     await client.users.uploads.createPart("organization-123", "user-123", "upload-123", {
     *         data: [{
     *                 type: "historicalTransaction",
     *                 id: "309rjfoincor3icno3rind093cdow3jciwjdwcm",
     *                 attributes: {
     *                     userId: "6FHt5b6Fnp0qdomMEy5AN6PXcSJIeX69",
     *                     status: "APPROVED",
     *                     amount: 1000,
     *                     subtotal: 800,
     *                     currency: "USD",
     *                     direction: "DEBIT",
     *                     paymentType: "CARD",
     *                     description: "ADVANCEAUTO",
     *                     description2: "ADVANCEAUTO",
     *                     mcc: "1234",
     *                     cardBIN: "123456",
     *                     cardLastFour: "4321",
     *                     authorizationDate: "2021-07-02T17:47:06Z",
     *                     merchant: {
     *                         id: "12345678901234567",
     *                         name: "ADVANCEAUTO",
     *                         addrStreet: "125 Main St",
     *                         addrCity: "Philadelphia",
     *                         addrState: "PA",
     *                         addrZipcode: "19147",
     *                         addrCountry: "United States",
     *                         latitude: "37.9419429",
     *                         longitude: "-73.1446869",
     *                         storeId: "12345"
     *                     },
     *                     authorizationCode: "123456",
     *                     retrievalReferenceNumber: "100804333919",
     *                     acquirerReferenceNumber: "1234567890123456789012345678",
     *                     systemTraceAuditNumber: "333828",
     *                     transactionId: "2467de37-cbdc-416d-a359-75de87bfffb0"
     *                 }
     *             }]
     *     })
     */
    public createPart(
        organizationId: KardApi.OrganizationId,
        userId: string,
        uploadId: string,
        request: KardApi.users.CreateUploadPartRequestObject,
        requestOptions?: UploadsClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.users.CreateUploadPartResponseObject> {
        return core.HttpResponsePromise.fromPromise(
            this.__createPart(organizationId, userId, uploadId, request, requestOptions),
        );
    }

    private async __createPart(
        organizationId: KardApi.OrganizationId,
        userId: string,
        uploadId: string,
        request: KardApi.users.CreateUploadPartRequestObject,
        requestOptions?: UploadsClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.users.CreateUploadPartResponseObject>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(organizationId)}/users/${core.url.encodePathParam(userId)}/uploads/${core.url.encodePathParam(uploadId)}/parts`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as KardApi.users.CreateUploadPartResponseObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 207:
                    throw new KardApi.users.UploadPartMultiStatus(
                        _response.error.body as KardApi.users.CreateUploadPartMultiStatusResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling PUT /v2/issuers/{organizationId}/users/{userId}/uploads/{uploadId}/parts.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Call this endpoint to update your upload session. Currently, you can signal completing a historical transactions upload.
     * <b>Required scopes:</b> `transaction:write`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {string} userId - The ID of the user as defined on the issuers system
     * @param {string} uploadId - The upload ID identifying the upload session to update
     * @param {KardApi.users.UpdateUploadRequestObject} request
     * @param {UploadsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.ConflictError}
     *
     * @example
     *     await client.users.uploads.update("organization-123", "user-123", "upload-123", {
     *         data: {
     *             type: "historicalTransactionComplete",
     *             id: "7e382223-b9a5-4825-91fb-436c8957a2e7",
     *             attributes: {}
     *         }
     *     })
     */
    public update(
        organizationId: KardApi.OrganizationId,
        userId: string,
        uploadId: string,
        request: KardApi.users.UpdateUploadRequestObject,
        requestOptions?: UploadsClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.users.UpdateUploadResponseObject> {
        return core.HttpResponsePromise.fromPromise(
            this.__update(organizationId, userId, uploadId, request, requestOptions),
        );
    }

    private async __update(
        organizationId: KardApi.OrganizationId,
        userId: string,
        uploadId: string,
        request: KardApi.users.UpdateUploadRequestObject,
        requestOptions?: UploadsClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.users.UpdateUploadResponseObject>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(organizationId)}/users/${core.url.encodePathParam(userId)}/uploads/${core.url.encodePathParam(uploadId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as KardApi.users.UpdateUploadResponseObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new KardApi.ConflictError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling PUT /v2/issuers/{organizationId}/users/{userId}/uploads/{uploadId}.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }
}
