/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as KardApi from "../../../index.js";
import urlJoin from "url-join";
import * as errors from "../../../../errors/index.js";

export declare namespace Users {
    export interface Options {
        environment?: core.Supplier<environments.KardApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token: core.Supplier<core.BearerToken>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

export class Users {
    constructor(protected readonly _options: Users.Options) {}

    /**
     * Call this endpoint to enroll a specified user into your rewards program.<br/>
     *
     * <b>Required scopes:</b>&nbsp;&nbsp;`user:write`<br/>
     * <b>Note:</b> `Maximum of 100 users can be created per request`.
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.CreateUsersObject} request
     * @param {Users.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.MultiStatus}
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.ConflictError}
     *
     * @example
     *     await client.users.createUsers("{organizationId}", {
     *         data: [{
     *                 type: "user",
     *                 id: "1234567890",
     *                 attributes: {
     *                     zipCode: "11238",
     *                     enrolledRewards: ["CARDLINKED"]
     *                 }
     *             }]
     *     })
     */
    public createUsers(
        organizationId: KardApi.OrganizationId,
        request: KardApi.CreateUsersObject,
        requestOptions?: Users.RequestOptions,
    ): core.HttpResponsePromise<KardApi.CreateUsersObject> {
        return core.HttpResponsePromise.fromPromise(this.__createUsers(organizationId, request, requestOptions));
    }

    private async __createUsers(
        organizationId: KardApi.OrganizationId,
        request: KardApi.CreateUsersObject,
        requestOptions?: Users.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.CreateUsersObject>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${encodeURIComponent(organizationId)}/users`,
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@kard-financial/sdk",
                "X-Fern-SDK-Version": "0.0.1",
                "User-Agent": "@kard-financial/sdk/0.0.1",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.CreateUsersObject, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 207:
                    throw new KardApi.MultiStatus(
                        _response.error.body as KardApi.CreateUsersMultiStatusResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new KardApi.ConflictError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling POST /v2/issuers/{organizationId}/users.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Call this endpoint to update the details on a specified user.<br/>
     *
     * <b>Required scopes:</b> `user:update`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.UserId} userId
     * @param {KardApi.UpdateUserObject} request
     * @param {Users.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.DoesNotExistError}
     *
     * @example
     *     await client.users.updateUser("{organizationId}", "{userId}", {
     *         data: {
     *             type: "user",
     *             id: "1234567890",
     *             attributes: {
     *                 zipCode: "11238",
     *                 enrolledRewards: ["CARDLINKED"]
     *             }
     *         }
     *     })
     */
    public updateUser(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        request: KardApi.UpdateUserObject,
        requestOptions?: Users.RequestOptions,
    ): core.HttpResponsePromise<KardApi.UpdateUserObject> {
        return core.HttpResponsePromise.fromPromise(this.__updateUser(organizationId, userId, request, requestOptions));
    }

    private async __updateUser(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        request: KardApi.UpdateUserObject,
        requestOptions?: Users.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.UpdateUserObject>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${encodeURIComponent(organizationId)}/users/${encodeURIComponent(userId)}`,
            ),
            method: "PUT",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@kard-financial/sdk",
                "X-Fern-SDK-Version": "0.0.1",
                "User-Agent": "@kard-financial/sdk/0.0.1",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.UpdateUserObject, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new KardApi.DoesNotExistError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling PUT /v2/issuers/{organizationId}/users/{userId}.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Call this endpoint to delete a specified enrolled user from the rewards program and Kard's system. Users can be re-enrolled into rewards by calling the [Create User](/2024-10-01/api/users/create-users) endpoint using the same `id` from before.<br/>
     *
     * <b>Required scopes:</b> `user:delete`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.UserId} userId
     * @param {Users.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.DoesNotExistError}
     *
     * @example
     *     await client.users.deleteUser("{organizationId}", "{userId}")
     */
    public deleteUser(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        requestOptions?: Users.RequestOptions,
    ): core.HttpResponsePromise<KardApi.DeleteUserResponseObject> {
        return core.HttpResponsePromise.fromPromise(this.__deleteUser(organizationId, userId, requestOptions));
    }

    private async __deleteUser(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        requestOptions?: Users.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.DeleteUserResponseObject>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${encodeURIComponent(organizationId)}/users/${encodeURIComponent(userId)}`,
            ),
            method: "DELETE",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@kard-financial/sdk",
                "X-Fern-SDK-Version": "0.0.1",
                "User-Agent": "@kard-financial/sdk/0.0.1",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.DeleteUserResponseObject, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new KardApi.DoesNotExistError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling DELETE /v2/issuers/{organizationId}/users/{userId}.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Call this endpoint to fetch the details on a specified user.<br/>
     * <br/>
     * <b>Required scopes:</b>&nbsp;&nbsp;`user:read`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.UserId} userId
     * @param {Users.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.UnauthorizedError}
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.DoesNotExistError}
     *
     * @example
     *     await client.users.getUserById("{organizationId}", "{userId}")
     */
    public getUserById(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        requestOptions?: Users.RequestOptions,
    ): core.HttpResponsePromise<KardApi.UpdateUserObject> {
        return core.HttpResponsePromise.fromPromise(this.__getUserById(organizationId, userId, requestOptions));
    }

    private async __getUserById(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        requestOptions?: Users.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.UpdateUserObject>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${encodeURIComponent(organizationId)}/users/${encodeURIComponent(userId)}`,
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@kard-financial/sdk",
                "X-Fern-SDK-Version": "0.0.1",
                "User-Agent": "@kard-financial/sdk/0.0.1",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.UpdateUserObject, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new KardApi.DoesNotExistError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling GET /v2/issuers/{organizationId}/users/{userId}.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getAuthorizationHeader(): Promise<string> {
        return `Bearer ${await core.Supplier.get(this._options.token)}`;
    }
}
