// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { toJson } from "../../../../../../core/json.js";
import * as environments from "../../../../../../environments.js";
import * as errors from "../../../../../../errors/index.js";
import * as KardApi from "../../../../../index.js";

export declare namespace RewardsClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RewardsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RewardsClient.Options>;

    constructor(options: RewardsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve national brand offers that a specified user is eligible for. Call this endpoint to build out your
     * [targeted offers UX experience](/2024-10-01/api/getting-started#b-discover-a-lapsed-customer-clo). Local offers details
     * can be found by calling the [Get Eligible Locations](/2024-10-01/api/rewards/locations) endpoint with the
     * `includeLocal` query parameter.<br/>
     * <b>Required scopes:</b> `rewards:read`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.UserId} userId
     * @param {KardApi.users.GetOffersByUserRequest} request
     * @param {RewardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.DoesNotExistError}
     * @throws {@link KardApi.UnauthorizedError}
     *
     * @example
     *     await client.users.rewards.offers("organization-123", "user-123", {
     *         "page[size]": 1,
     *         "filter[isTargeted]": true,
     *         sort: "-startDate"
     *     })
     */
    public offers(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        request: KardApi.users.GetOffersByUserRequest = {},
        requestOptions?: RewardsClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.users.OffersResponseObject> {
        return core.HttpResponsePromise.fromPromise(this.__offers(organizationId, userId, request, requestOptions));
    }

    private async __offers(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        request: KardApi.users.GetOffersByUserRequest = {},
        requestOptions?: RewardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.users.OffersResponseObject>> {
        const {
            "page[size]": pageSize,
            "page[after]": pageAfter,
            "page[before]": pageBefore,
            "filter[purchaseChannel]": filterPurchaseChannel,
            "filter[category]": filterCategory,
            "filter[isTargeted]": filterIsTargeted,
            sort,
            include,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (pageSize != null) {
            _queryParams["page[size]"] = pageSize.toString();
        }

        if (pageAfter != null) {
            _queryParams["page[after]"] = pageAfter;
        }

        if (pageBefore != null) {
            _queryParams["page[before]"] = pageBefore;
        }

        if (filterPurchaseChannel != null) {
            _queryParams["filter[purchaseChannel]"] = toJson(filterPurchaseChannel);
        }

        if (filterCategory != null) {
            _queryParams["filter[category]"] = filterCategory;
        }

        if (filterIsTargeted != null) {
            _queryParams["filter[isTargeted]"] = filterIsTargeted.toString();
        }

        if (sort != null) {
            if (Array.isArray(sort)) {
                _queryParams.sort = sort.map((item) => item);
            } else {
                _queryParams.sort = sort;
            }
        }

        if (include != null) {
            if (Array.isArray(include)) {
                _queryParams.include = include.map((item) => item);
            } else {
                _queryParams.include = include;
            }
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(organizationId)}/users/${core.url.encodePathParam(userId)}/offers`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as KardApi.users.OffersResponseObject, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new KardApi.DoesNotExistError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling GET /v2/issuers/{organizationId}/users/{userId}/offers.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Retrieve national and local geographic locations that a specified user has eligible in-store offers at. To
     * include local locations, add the `includeLocal` query parameter to your api call. Use this endpoint to build
     * out your [map-specific UX experiences](/2024-10-01/api/getting-started#c-discover-clos-near-you-map-view). Please note
     * that Longitude and Latitude fields are prioritized over State, City and Zipcode and are the recommended search
     * pattern.<br/>
     * <br/>
     * <b>Required scopes:</b> `rewards:read`
     *
     * @param {KardApi.OrganizationId} organizationId
     * @param {KardApi.UserId} userId
     * @param {KardApi.users.GetLocationsByUserRequest} request
     * @param {RewardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.DoesNotExistError}
     * @throws {@link KardApi.UnauthorizedError}
     *
     * @example
     *     await client.users.rewards.locations("organization-123", "user-123", {
     *         "page[size]": 1,
     *         "filter[latitude]": 39.9419429,
     *         "filter[longitude]": -75.1446869,
     *         "filter[radius]": 10,
     *         include: "offers,categories"
     *     })
     */
    public locations(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        request: KardApi.users.GetLocationsByUserRequest = {},
        requestOptions?: RewardsClient.RequestOptions,
    ): core.HttpResponsePromise<KardApi.users.LocationsResponseObject> {
        return core.HttpResponsePromise.fromPromise(this.__locations(organizationId, userId, request, requestOptions));
    }

    private async __locations(
        organizationId: KardApi.OrganizationId,
        userId: KardApi.UserId,
        request: KardApi.users.GetLocationsByUserRequest = {},
        requestOptions?: RewardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<KardApi.users.LocationsResponseObject>> {
        const {
            "page[size]": pageSize,
            "page[after]": pageAfter,
            "page[before]": pageBefore,
            "filter[name]": filterName,
            "filter[city]": filterCity,
            "filter[zipCode]": filterZipCode,
            "filter[state]": filterState,
            "filter[category]": filterCategory,
            "filter[longitude]": filterLongitude,
            "filter[latitude]": filterLatitude,
            "filter[radius]": filterRadius,
            sort,
            include,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (pageSize != null) {
            _queryParams["page[size]"] = pageSize.toString();
        }

        if (pageAfter != null) {
            _queryParams["page[after]"] = pageAfter;
        }

        if (pageBefore != null) {
            _queryParams["page[before]"] = pageBefore;
        }

        if (filterName != null) {
            _queryParams["filter[name]"] = filterName;
        }

        if (filterCity != null) {
            _queryParams["filter[city]"] = filterCity;
        }

        if (filterZipCode != null) {
            _queryParams["filter[zipCode]"] = filterZipCode;
        }

        if (filterState != null) {
            _queryParams["filter[state]"] = filterState;
        }

        if (filterCategory != null) {
            _queryParams["filter[category]"] = filterCategory;
        }

        if (filterLongitude != null) {
            _queryParams["filter[longitude]"] = filterLongitude.toString();
        }

        if (filterLatitude != null) {
            _queryParams["filter[latitude]"] = filterLatitude.toString();
        }

        if (filterRadius != null) {
            _queryParams["filter[radius]"] = filterRadius.toString();
        }

        if (sort != null) {
            if (Array.isArray(sort)) {
                _queryParams.sort = sort.map((item) => item);
            } else {
                _queryParams.sort = sort;
            }
        }

        if (include != null) {
            if (Array.isArray(include)) {
                _queryParams.include = include.map((item) => item);
            } else {
                _queryParams.include = include;
            }
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                `/v2/issuers/${core.url.encodePathParam(organizationId)}/users/${core.url.encodePathParam(userId)}/locations`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as KardApi.users.LocationsResponseObject,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new KardApi.DoesNotExistError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling GET /v2/issuers/{organizationId}/users/{userId}/locations.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }
}
