// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import * as errors from "../../../../errors/index.js";
import * as KardApi from "../../../index.js";

export declare namespace EligibilityBrokerClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EligibilityBrokerClient {
    protected readonly _options: NormalizedClientOptions<EligibilityBrokerClient.Options>;

    constructor(options: EligibilityBrokerClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Send events to be ingested by the eligibility broker to change a user's eligibility.
     *
     * @param {KardApi.IngestRequestBody} request
     * @param {EligibilityBrokerClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link KardApi.InternalServerError}
     * @throws {@link KardApi.InvalidRequest}
     * @throws {@link KardApi.DoesNotExistError}
     * @throws {@link KardApi.UnauthorizedError}
     *
     * @example
     *     await client.eligibilityBroker.ingest({
     *         data: [{
     *                 type: "segmentUser",
     *                 attributes: {
     *                     userId: "6FHt5b6Fnp0qdomMEy5AN6PXcSJIeX69",
     *                     issuerId: "00073100",
     *                     segmentId: "5eb2d4a39ce24e00081488c4",
     *                     status: "ACTIVE",
     *                     eventTime: "2021-07-02T17:47:06Z"
     *                 }
     *             }]
     *     })
     */
    public ingest(
        request: KardApi.IngestRequestBody,
        requestOptions?: EligibilityBrokerClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__ingest(request, requestOptions));
    }

    private async __ingest(
        request: KardApi.IngestRequestBody,
        requestOptions?: EligibilityBrokerClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.KardApiEnvironment.Production,
                "/internal/eligibility-broker/ingest",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new KardApi.InternalServerError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 400:
                    throw new KardApi.InvalidRequest(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new KardApi.DoesNotExistError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new KardApi.UnauthorizedError(
                        _response.error.body as KardApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.KardApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.KardApiError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.KardApiTimeoutError(
                    "Timeout exceeded when calling POST /internal/eligibility-broker/ingest.",
                );
            case "unknown":
                throw new errors.KardApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }
}
